.menu{
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 20px;
  z-index: 999;
  background-color: #722F37;
  box-shadow: 0px 3px 20px rgb(92, 86, 86);
  animation: fromMenu 1s ease-in-out;
}

@keyframes fromMenu {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

.s1{
  background-color: #fff8f0;
  color: black;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left{
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 3px 20px rgb(92, 86, 86);
  animation: fromLeft 1.5s ease-in-out;
}

@keyframes fromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.imgPerfil{
  width: 400px;
  height: 400px;
  transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
  transform: scale(1.1);
}

.right{
  width: 500px;
  animation: fromRight 1.5s ease-in-out;
}

@keyframes fromRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.title{
  font-size: 36px;
  font-weight: bold;
}

.paragraph{
  font-size: 22px;
}

.rodape{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff8f0;
}

.rodape a{
  transition: all 500ms ease-in-out;
  border-radius: 999px;
  overflow: hidden;
}

.rodape a:hover{
  transform:translateY(-10px) scale(1.3);
}

.s4{
  background-color: #fff8f0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50vh;
  height: auto;
  padding: 50px;
  gap: 50px;
}

.s4 h2{
  color: #616161;
  font-size: 56px;
  letter-spacing: 10px;
  font-weight: bold;
}

.formData{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid #292450;
  box-shadow: 0px 3px 20px #00000082;
  padding: 20px;
}

.formData label{
  text-align: left;
  width: 100%;
  margin-bottom: -7px;
}

.formData input{
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  border: 2px solid #292450;
  padding: 10px;
}

.formData textarea{
  width: 300px;
  height: 100px;
  border: none;
  border: 2px solid #292450;
  border-radius: 5px;
  padding: 10px;
}

.formData button{
  padding: 10px;
  border: none;
  border: 2px solid #292450;
  border-radius: 5px;
  width: 100%;
  opacity: 0.7;
}

.formData button:hover{
  cursor: pointer;
  opacity: 1;
}

.s2{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}

.tectitle{
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 10px;
  font-weight: bold;
}

.wrapCards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (width <= 768px){
    .s1{
      padding-top: 50px;
      gap: 0;
    }
    
    .left{
      width: 300px;
      height: 300px;
    }

     .imgPerfil{
        width: 300px;
        height: 300px;
    }

    .right{
        padding: 20px;
        margin-top: -150px;
    }

    .s4 h2{
      font-size: 48px;
      letter-spacing: 5px;
    }

    .card {
    width: 140px;
    min-height: 300px;
    padding: 15px;
  }
  
  .wrapCards {
    gap: 15px;
  }
}