.menu{
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 20px;
  z-index: 999;
  background-color:#2A7B9B;
  box-shadow: 0px 3px 20px rgb(92, 86, 86);
  animation: fromMenu 1s ease-in-out;
}

@keyframes fromMenu {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

.s1{
  background-color: #ffffff;
  color: black;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left{
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 3px 20px rgb(92, 86, 86);
  animation: fromLeft 1.5s ease-in-out;
}

@keyframes fromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.imgPerfil{
  width: 400px;
  height: 400px;
  transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
  transform: scale(1.1);
}

.right{
  width: 500px;
  animation: fromRight 1.5s ease-in-out;
}

@keyframes fromRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.title{
  font-size: 36px;
  font-weight: bold;
}

.paragraph{
  font-size: 22px;
}

.rodape{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #225e75;
}

.rodape a{
  transition: all 500ms ease-in-out;
  border-radius: 999px;
  overflow: hidden;
}

.rodape a:hover{
  transform:translateY(-10px) scale(1.3);
}

@media (width <= 768px){
    .s1{
      padding-top: 50px;
      gap: 0;
    }
    
    .left{
      width: 300px;
      height: 300px;
    }

     .imgPerfil{
        width: 300px;
        height: 300px;
    }

    .right{
        padding: 20px;
        margin-top: -150px;
    }
}